    body {
        background-color: #DCDCDC;
    }

    label {
        font-family: Arial, Helvetica, sans-serif;
    }

    p {
        text-decoration: none;
        color: black;
        font-family: Arial, Helvetica, sans-serif;
    }
    h1 {
        font-size: 25px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }
    h3 {
       font-family: Arial, Helvetica, sans-serif;
       text-align: left;
    }

    div {
        background-color: #DCDCDC;
    }

    #mainWindow {
        position: relative;
        top: 10px;
        left: 50px;
        width: 1150px;
        height: 430px;
        border: 2px solid #5495C6;
    }
    #shapeChoice {
        position: relative;
        top: 50px;
        left: 50px;
        width: 500px;
    }
    #shapeNumber {
        position: relative;
        top: 50px;
        left: 50px;
        width: 500px;
    }
    #randomShapes {
        position: relative;
        top: 50px;
        left: 50px;
        width: 500px;
    }
    #stop {
        position: relative;
        top: 50px;
        left: 50px;
        width: 500px;
        bottom: 20px;
    }
    #opacityAlpha {
        position: relative;
        top: 50px;
        left: 50px;
        width: 500px;
        bottom: 20px;
    }
    #backgroundColor {
        position: relative;
        top: 50px;
        left: 50px;
        width: 500px;
        bottom: 20px;
    }
    #compSize {
        position: relative;
        top: 50px;
        left: 50px;
        width: 500px;
        bottom: 20px;
    }
    #probabilitySize {
        position: relative;
         top: 50px;
         left: 50px;
         width: 500px;
         bottom: 20px;
    }
    #viewSize {
        position: relative;
        top: 50px;
        left: 50px;
        width: 500px;
        bottom: 20px;
    }
    #scrolls input {
        width:500px;
    }
    #buttons input {
        position: relative;
        top: 100px;
        left: 50px;
        width: 300px;
    }
    #output {
        position: relative;
        top: 150px;
        left: 50px;
    }

#output:not(.raster) .raster,
    #shapeChoice input {
        width: 60px;
    }

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }